h2 {
  text-align: center;
  font-size: 2em;
  padding: 20px;
  margin: 25px;
  text-decoration: underline;
}
.container {
  background: hsla(0, 25%, 66%, 0.5);
  height: 100vh;
}
.listEle {
  padding: 3px;
  margin: 3px;
  font-weight: 500;
}
.listEle:hover {
  cursor: pointer;
  font-weight: bold;
}
#foodInput {
  padding: 10px;
  margin: 10px;
  border: 3px solid grey;
  border-radius: 5px;
}
.btn {
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: hsla(240, 100%, 50%, 0.5);
  color: rgba(0, 0, 0, 0.9);
  font-size: 0.8em;
  font-weight: bold;
}
.btn:hover {
  cursor: pointer;
  background-color: hsla(240, 100%, 50%, 0.9);
  color: rgb(0, 0, 0);
}
